*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #232323;
    width: 100%;
    height: 80px;
    border-bottom: solid 3px #D90B1C;
}

.header h1 {
    color: white;
    float: left;
}

.nome_projeto{
    color: #D90B1C;
    float: left;
}